# you will have to manually add files to include here, as
# configs can often contain private data!
/*
!.gitignore
!nvim/
!tmux/
!bin/
!iterm2/
!karabiner/
!brew-packages.txt
!README.md
!update-brew-packages.sh
!skhd/
!yabai/
**Application Support**
**.DS_Store**
